body {
  background-color:#777777;
}
h1 {
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  background-color: #C0C0C0;
}
h3 {
  color: #000000;
  margin: 10px;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.side {
  float: left;
  width: 160px;
  height: 500px;
}
.footer{
  background-color: #545454;
  padding: 10px;
  text-align: right;
}
